@import "reset.css";


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.out-fee,
.quantity-out-fee {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.out-fee_title,
.quantity-out-fee_title {
    margin-right: 10px;
}

.out-fee_tip,
.quantity-out-fee_tip {
    width: 20px;
    height: 20px;
    background-color: #dddddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#tip,
#tip2 {
    text-decoration: none;
}

.out-fee_content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.out-fee_image img {
    width: 200px;
    height: 200px;
}

.out-fee_tabel {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.out-fee_tabel_row {
    display: flex;
    margin-bottom: 5px;
}

.out-fee_tabel_row_content {
   background-color: #c6e2ff;
   opacity: 0.8;
   width: 100px;
   height: 30px;
   margin-right: 5px; 
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
}

.out-fee_tabel_row_content span {
    font-size: 15px;
}

.out-fee_tabel_row1,
.out-fee_tabel_row2,
.out-fee_tabel_row3,
.out-fee_tabel_row4,
.out-fee_tabel_row5 {
    display: flex;
    margin-bottom: 5px;
}

.out-fee_tabel_row1_content,
.out-fee_tabel_row2_content,
.out-fee_tabel_row3_content,
.out-fee_tabel_row4_content,
.out-fee_tabel_row5_content {
    background-color: #f0f8ff;
    width: 100px;
    height: 20px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.out-fee_tabel_row1_content span,
.out-fee_tabel_row2_content span,
.out-fee_tabel_row3_content span,
.out-fee_tabel_row4_content span,
.out-fee_tabel_row5_content span {
    font-size: 10px;
}

#out-fee_tabel_row5_content_big {
    background-color: #f0f8ff;
    width: 205px;
    height: 20px;
    margin-right: 5px;
}

.quantity-out-fee_content_table_row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 10px;
}

.quantity-out-fee_content_table_row_content {
    background-color: #c6e2ff;
    opacity: 0.8;
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.quantity-out-fee_content_table_row_content span {
    font-size: 15px;
}

.quantity-out-fee_content_table_row1,
.quantity-out-fee_content_table_row2,
.quantity-out-fee_content_table_row3,
.quantity-out-fee_content_table_row4,
.quantity-out-fee_content_table_row5,
.quantity-out-fee_content_table_row6,
.quantity-out-fee_content_table_row7,
.quantity-out-fee_content_table_row8,
.quantity-out-fee_content_table_row9,
.quantity-out-fee_content_table_row10 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.quantity-out-fee_content_table_row1_content,
.quantity-out-fee_content_table_row2_content,
.quantity-out-fee_content_table_row3_content,
.quantity-out-fee_content_table_row4_content,
.quantity-out-fee_content_table_row5_content,
.quantity-out-fee_content_table_row6_content,
.quantity-out-fee_content_table_row7_content,
.quantity-out-fee_content_table_row8_content,
.quantity-out-fee_content_table_row9_content,
.quantity-out-fee_content_table_row10_content {
    background-color: #f0f8ff;
    width: 120px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.quantity-out-fee_content_table_row1_content span,
.quantity-out-fee_content_table_row2_content span,
.quantity-out-fee_content_table_row3_content span,
.quantity-out-fee_content_table_row4_content span,
.quantity-out-fee_content_table_row5_content span,
.quantity-out-fee_content_table_row6_content span,
.quantity-out-fee_content_table_row7_content span,
.quantity-out-fee_content_table_row8_content span,
.quantity-out-fee_content_table_row9_content span,
.quantity-out-fee_content_table_row10_content span {
    font-size: 10px;
}