@import "reset.css";


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.out-fee {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.out-fee_title {
    margin-right: 10px;
}

.out-fee_tip {
    width: 20px;
    height: 20px;
    background-color: #dddddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#tip {
    text-decoration: none;
}

